/* tags */

.article {

    &__body {
      width: 74%;
  
      @include mobile {
        width: 100%;
      }
    }
  
    &__share {
      @include mobile {
        margin-bottom: 10px;
      }
    }
    &__footer {
      @include pad {
        display: none;
      }
      @include mobile {
        display: block;
      }
  
      &__md {
        display: none;
        @include pad {
          display: block;
        }
        @include mobile {
          display: none;
        }
      }
    }
  }
  
  /* 文章照片 */
  .post {
    max-width: 100%;
    height: 539px;
    object-fit: cover;
    object-position: center;
  
    @include pad {
      height: 292px;
    }
  
    @include mobile {
      height: 225px;
    }
  }
  
  .share {
    &__icon {
      display: block;
    }
  }