/* 選單樣式 */

.select {
    /* 樣式 */
    width: 30%;
    height: 45px;
    line-height: 45px;
  
    @include pad {
      width: 35%;
    }
  
    @include mobile {
      width: 75%;
      height: 2.25rem;
      line-height: 2.25rem;
    }
  }